*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #1ffff8;
  background: no-repeat center center fixed;
  background-size: cover;
  background-image: linear-gradient(
    to right top,
    #ae0044,
    #db4433,
    #f58109,
    #f7c000,
    #deff00
  );
}
body {
  margin: 0 200px;
  font-size: 1rem;
  padding: 24px;
  h1 {
    display: flex;
    font-size: 3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #000222;
  }
  header {
    font-weight: 800;
    gap: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    a {
      color: #fff4f4;
      &:hover {
        color: #f0616f;
      }
    }
  }
  footer {
    color: #b8ff66;
  }
}
