.button {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 48px;
  border-radius: 45px;
  border: none;
  cursor: pointer;
  color: #fdd1bb;
  background-color: #ff5500;

  &:hover {
    color: #ffffff;
    background-color: #8f3000;
  }
}
