.button {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 30px;
  background-color: #ff6711;
  border-radius: 45px;
  border: none;
  cursor: pointer;
  color: #7b4a00;

  &:hover {
    color: #ffffff;
  }
}

.error {
  background-color: #d3003f;
}
