.button {
  font-size: 24px;
  font-weight: bold;
  padding: 10px 30px;
  background-color: #ff6711;
  border-radius: 45px;
  border: none;
  cursor: pointer;
  color: #7b4a00;

  &:hover {
    color: #ffffff;
  }
}

.error {
  color: #ffffff;
  margin: 20px;
  padding: 20px;
  text-align: center;
  border-radius: 25px;
  background-color: #ff004c;
}
